<div class="banner" style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://wallpapercave.com/wp/wp3160273.jpg");">
  <div class="container">
    <h1><strong>Riley's Reels</strong>!</h1>
    <p>Create a custom <strong>Watch list</strong> that says you! .</p>
    <a class="btn btn-flat" href="#"><%= link_to  "Roll reel", lists_path %></a>
  </div>
</div>

