.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
  border: 2px solid rgba(0,0,0,0.1); 
  border-radius: 4; 
  width:fit-content;
  height:50%;
  .form-inputs{
    width:80%;

  }
}
.card{
  position: relative;
  box-shadow: 10px 10px #3d32329a;
  background-image: linear-gradient(rgba(63, 55, 55, 0.5),rgba(122, 18, 18, 0.562));
  
}
.bookmark{
  width:fit-content;
  position:absolute;
  right:20px;
  bottom:10px;
}
